.arrow{/*Tamaño y posicion para el icono de flechitas rojas*/
	display: inline-block;
	width: 10px;
}
.ultimo{/*posicion para flechitas rojas*/
	display: inline-block;
}
.gray{/*color gris del texto*/
	color: #8D9AA8;
}
.titulo{/*TITULO columnistas*/
	font-size: 50px;
}
.bordegris{/*borde de cuadros gris*/
	border: solid #E2E2E2 2px;
}
.rojo{/*background rojo de abecedario*/
	background-color: #BD1A01;
}
.cuadrogris{
	background-color: #E2E6E9;
}
